body{
            padding: 0;
            margin: 0;
            background-color: #EFAA1E;
        }
        .container{
            height: 500px;
            width: 350px;
            -webkit-box-shadow: 0 15px 40px rgba(191, 132, 13,0.8);
                    box-shadow: 0 15px 40px rgba(191, 132, 13,0.8);
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            z-index: 1;
        }
        .bunny{
            height: 110px;
            width: 120px;
            background-color: white;
            border-radius: 50% 50% 52% 48% / 62% 62% 38% 38%;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top:50px;
        }
        .ear{
            background-color: #D3BFF4;
            height: 50px;
            width: 15px;
            border:10px solid white;
            border-radius: 50% 50% 52% 48% / 30% 30% 70% 70%;
            position: absolute;
            bottom: 78px;
            -webkit-transform-origin: bottom;
                -ms-transform-origin: bottom;
                    transform-origin: bottom;
        }
        .ear-l{
            -webkit-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                    transform: rotate(-20deg);
            left: 10px;
        }
        .ear-r{
            -webkit-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                    transform: rotate(20deg);
            right: 10px;
        }
        .eye{
            height: 7px;
            width: 14px;
            border:5px solid #333333;
            border-bottom: none;
            border-radius: 20px 20px 0 0;
            position: absolute;
            top:42px;
        }
        .eye-l{
            left: 22px;
        }
        .eye-r{
            right: 22px;
        }
        .nose{
            background-color: #D3BFF4;
            height:14px;
            width: 17px;
            position: absolute;
            top:60px;
            margin: auto;
            left: 0;
            right: 0; 
            border-radius: 50% 50% 52% 48% / 33% 33% 67% 67%;
        }
        .nose:before{
            position: absolute;
            content: "";
            height: 6px;
            width: 2px;
            background-color: #333333;
            margin: auto;
            left: 0;
            right: 0;
            top:13.5px;
        }
        .nose:after{
            position: absolute;
            content: "";
            background-color: #333333;
            border-top: none;
            height: 14px;
            width: 28px;
            top:18px;
            left: -5px;
            border-radius: 0 0 20px 20px;
        }
        .board{
            height: 100px;
            width: 230px;
            background-color: #903C0D;
            position: absolute;
            left: -58px;
            top:120px;
            border:5px solid #B26B2D ;
            color: white;
        }
        .board>span{
            position: absolute;
            font-family: 'Poppins',sans-serif;
            font-size:30px;
            font-weight: 600;
            width: 100%;
            top:20px;
            text-align: center;
            letter-spacing: 1.5px; 
        }
        .body{
            height: 100px;
            width: 120px;
            background-color: white;
            border-radius: 100px 100px 0 0;
            position: absolute;
            top:100px;
        }
        .hand{
            background-color: white;
            height: 25px;
            width: 25px;
            position: absolute;
            top:114px;
            left: -12px;
            border-radius: 5px 5px 20px 20px;
            -webkit-box-shadow: 119px 0 0 0px white;
                    box-shadow: 119px 0 0 0px white; 
        }
        h1,h4{
            width: 100%;
            text-align: center;
            font-family: 'Poppins',sans-serif;    
        }
        h1{
            position: absolute;
            top:290px;
            color: white;
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 1.5px;
        }
        h4{
            position: absolute;
            bottom: 10px;
            color: #292929;
            line-height: 25px;
            letter-spacing: 1.5px; 
        }
        .flowers{
            color: white;
            position: absolute;
            bottom: -20px;
        }
        .flowers>div{
            position: absolute;
            -webkit-animation:flower infinite;
                    animation:flower infinite;
        }
        @-webkit-keyframes flower{
            100%{
                -webkit-transform: translateY(-680px);
                        transform: translateY(-680px);
            }
        }
        @keyframes flower{
            100%{
                -webkit-transform: translateY(-680px);
                        transform: translateY(-680px);
            }
        }
        .flowers>div:nth-child(1){
            font-size: 25px;
            top:20px;
            left: 90px;
            -webkit-animation-delay:1.1s;
                    animation-delay:1.1s;
            -webkit-animation-duration: 6s;
                    animation-duration: 6s; 
        }
        .flowers>div:nth-child(2){
            font-size: 35px;
            left: 200px;
            top:10px;
            -webkit-animation-delay:1.5s;
                    animation-delay:1.5s;
            -webkit-animation-duration: 4s;
                    animation-duration: 4s;
        }
        .flowers>div:nth-child(3){
            font-size: 45px;
            top:80px;
            left: 10px;
            -webkit-animation-delay:0.8s;
                    animation-delay:0.8s;
            -webkit-animation-duration: 8s;
                    animation-duration: 8s;
        }
        .flowers>div:nth-child(4){
            font-size: 25px;
            left: 260px;
            top:30px;
            -webkit-animation-delay:2.3s;
                    animation-delay:2.3s;
            -webkit-animation-duration: 7.5s;
                    animation-duration: 7.5s;
        }
        .flowers>div:nth-child(5){
            font-size: 35px;
            left: 160px;
            top:50px;
            -webkit-animation-duration: 4s;
                    animation-duration: 4s;
            -webkit-animation-delay:3.6s;
                    animation-delay:3.6s;
        }
        .flowers>div:nth-child(6){
            font-size: 45px;
            left: 300px;
            -webkit-animation-duration: 6s;
                    animation-duration: 6s;
            top:-5px;
            -webkit-animation-delay:3s;
                    animation-delay:3s;
        }
        .flowers>div:nth-child(7){
            font-size: 25px;
            left: 190px;
            -webkit-animation-delay:0.4s;
                    animation-delay:0.4s;
            top:80px;
            -webkit-animation-duration: 5s;
                    animation-duration: 5s;
        }